==========================================

DATA FOLDER SECURITY

==========================================

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

Ignore Feast and MLflow local databases

# data/*.db
# mlflow.db
# mlruns/

==========================================

PYTHON ARTIFACTS

==========================================

pycache/
*.py[cod]
.pytest_cache/
.env
